body{
    background-color: #f1a3d1;
}
h1,h2,h3{
    text-align: center;
 }
 p{
    text-align: center;
 }
 

#lolo{
  margin: 0 auto;
    width: 20%;
   display: block;
    background-color: #eee88e; 

}
.galeria {
  display: flex;  
  flex-wrap: wrap;
  gap: 700px;              
  justify-content: center;
  padding:70px;
}

.galeria img {
  width: 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
  max-width: 250px;      
  min-width: 150px;       
  height: auto;
}

.galeria img:hover {
  transform: scale(1.2); 
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}  
img{
    display: block;
    margin: 0 auto;
}     
#tabla1{
  margin: 0 auto;
    width: 20%;
   display: block;
    background-color: #eee88e; 

}
#promo{
     color: rgb(34, 0, 155);
        text-align: center;
}